@import "./vars.scss";

.btn {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        box-shadow: 0 0 4px $text-color2;
    }
}

.code-block {
    background-color: $back-color2;
    border-radius: 5px;
    padding: 7px !important;
    overflow: auto !important;
    white-space: pre;
}

.filler {
    flex-grow: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loading {
    font-weight: bold;
    font-size: 3.5em;
    color: $text-color2;
    text-align: center;
    width: 100%;
    grid-column: 1 / 20;
    flex-grow: 1;

    animation: flicker 2s linear infinite;
}

.invalid {
    @extend .loading;
    font-size: 2.5em;
    color: #f60;
}  

.box-top {
    position: absolute;
    height: 10px;
    background-color: #3c424f;
    width: 100%;
    top: 0;
    transform: skewX(-45deg);
    left: 5px;
}

.box-right {
    position: absolute;
    height: 100%;
    background-color: #0d0e11;
    width: 10px;
    right: -10px;
    transform: skewY(-45deg);
    top: 5px;
}