$back-color: #282c34;
$back-color2: #223;
$text-color1: burlywood;
$text-color2: darkorange;
$btn-bcolor: #044;/*#550;*/
$btn-bcolor2: #064;/*#550;*/
$btn-color: #00a8c4;
$btn-color2: #222;
$item-radius: 8px;